<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="db_RoWaterConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Prakash\WaterSystem\Database\db_RoWater.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--
    Upgraded configuration for Visual Studio 2022 / .NET Framework 4.8
  -->
	<system.web>
		<!-- Session State Configuration -->
		<sessionState timeout="50" mode="InProc" cookieless="false"
					  regenerateExpiredSessionId="true" cookieName="ASP.NET_SessionId" />

		<!-- Forms Authentication Configuration -->
		<authentication mode="None" />
		<!-- Using BasePage for authentication instead of Forms Authentication to avoid redirect loops -->

		<!-- HTTP Cookies Configuration -->
		<httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="false" />

		<!-- Authorization - Allow all by default, BasePage handles authentication -->
		<authorization>
			<allow users="*" />
		</authorization>

		<!-- Compilation Settings -->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>

		<!-- Page Settings -->
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />

		<!-- Trust Level -->
		<trust level="Full" />

		<!-- IMPORTANT: Disable validation of old Classic-mode handlers -->
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.webServer>
		<!-- Allow old Classic handler configuration to load -->
		<validation validateIntegratedModeConfiguration="false" />

		<!-- HTTP Handlers for Integrated Mode -->
		<handlers>
			<add name="ReportViewerWebControlHandler"
				 preCondition="integratedMode"
				 verb="*"
				 path="Reserved.ReportViewerWebControl.axd"
				 type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>

		<!-- Security Headers -->
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>

		<!-- Default Document -->
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
				<add value="UserLogin.aspx" />
				<add value="Login.aspx" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<!-- Assembly Binding -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Location-specific settings -->
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Default2.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="UserLogin.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="index.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>
