USE [master]
GO
/****** Object:  Database [db_RoWater]    Script Date: 23-06-2025 19:36:52 ******/
CREATE DATABASE [db_RoWater]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_RoWater', FILENAME = N'D:\Prakash\WaterSystem\Database\db_RoWater.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_RoWater_log', FILENAME = N'D:\Prakash\WaterSystem\Database\db_RoWater_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_RoWater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_RoWater]
GO
/****** Object:  Table [dbo].[Tbl_Areas]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Areas](
	[Area_Id] [int] IDENTITY(1,1) NOT NULL,
	[Area_Name] [varchar](250) NOT NULL,
	[Salesman_Id] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Areas] PRIMARY KEY CLUSTERED 
(
	[Area_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Bill]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Bill](
	[Bill_Id] [int] IDENTITY(1,1) NOT NULL,
	[CP_Id] [int] NOT NULL,
	[Month] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Bill] PRIMARY KEY CLUSTERED 
(
	[Bill_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Mobile] [numeric](10, 0) NOT NULL,
	[Address] [text] NOT NULL,
	[Area_Id] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_CustomerProduct]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CustomerProduct](
	[CP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Daily_Date] [date] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Event]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Event](
	[Event_Id] [int] IDENTITY(1,1) NOT NULL,
	[Event_Name] [varchar](100) NOT NULL,
	[Starting_Date] [date] NOT NULL,
	[Ending_Date] [date] NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_EventProduct]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EventProduct](
	[EventProduct_Id] [int] IDENTITY(1,1) NOT NULL,
	[Event_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventProduct_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Login]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Login](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Login] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Product]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Product](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Product_Rate] [decimal](18, 0) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Product] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Salesman]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Salesman](
	[Salesman_Id] [int] IDENTITY(1,1) NOT NULL,
	[Salesman_Name] [varchar](50) NOT NULL,
	[Area_Id] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Salesman] PRIMARY KEY CLUSTERED 
(
	[Salesman_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Transaction]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Transaction](
	[Transaction_Id] [int] IDENTITY(1,1) NOT NULL,
	[CP_Id] [int] NOT NULL,
	[Area_Id] [int] NOT NULL,
	[Salesman_Id] [int] NOT NULL,
	[Total_Amount] [decimal](10, 2) NULL,
	[Payment_Status] [varchar](50) NULL,
	[Month] [date] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tbl_Transaction] PRIMARY KEY CLUSTERED 
(
	[Transaction_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_CustomerTransactions]    Script Date: 23-06-2025 19:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CustomerTransactions] AS
SELECT 
    CU.Customer_Id,
    CU.Name AS Customer_Name,
    STUFF((
        SELECT ', ' + P.Product_Name + ' (' + CAST(CP2.Quantity AS VARCHAR) + ')'
        FROM Tbl_CustomerProduct CP2
        INNER JOIN Tbl_Product P ON CP2.Product_Id = P.Product_Id
        INNER JOIN Tbl_Transaction T2 ON T2.CP_Id = CP2.CP_Id
        WHERE CP2.Customer_Id = CU.Customer_Id
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Product_And_Quantities,
    MAX(T.Payment_Status) AS Payment_Status
FROM Tbl_Transaction T
INNER JOIN Tbl_CustomerProduct CP ON T.CP_Id = CP.CP_Id
INNER JOIN Tbl_Customer CU ON CP.Customer_Id = CU.Customer_Id
GROUP BY CU.Customer_Id, CU.Name

GO
ALTER TABLE [dbo].[Tbl_Areas] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Bill] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_CustomerProduct] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Event] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_EventProduct] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Login] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Salesman] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Transaction] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_Areas]  WITH CHECK ADD  CONSTRAINT [FK8] FOREIGN KEY([Salesman_Id])
REFERENCES [dbo].[Tbl_Salesman] ([Salesman_Id])
GO
ALTER TABLE [dbo].[Tbl_Areas] CHECK CONSTRAINT [FK8]
GO
ALTER TABLE [dbo].[Tbl_Customer]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([Area_Id])
REFERENCES [dbo].[Tbl_Areas] ([Area_Id])
GO
ALTER TABLE [dbo].[Tbl_Customer] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[Tbl_CustomerProduct]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustomerProduct_Customer] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Tbl_Customer] ([Customer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_CustomerProduct] CHECK CONSTRAINT [FK_Tbl_CustomerProduct_Customer]
GO
ALTER TABLE [dbo].[Tbl_EventProduct]  WITH CHECK ADD FOREIGN KEY([Event_Id])
REFERENCES [dbo].[Tbl_Event] ([Event_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_EventProduct]  WITH CHECK ADD FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Tbl_Product] ([Product_Id])
GO
ALTER TABLE [dbo].[Tbl_Salesman]  WITH CHECK ADD  CONSTRAINT [FK7] FOREIGN KEY([Area_Id])
REFERENCES [dbo].[Tbl_Areas] ([Area_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Salesman] CHECK CONSTRAINT [FK7]
GO
ALTER TABLE [dbo].[Tbl_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transaction_Customer_Id] FOREIGN KEY([CP_Id])
REFERENCES [dbo].[Tbl_CustomerProduct] ([CP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Transaction] CHECK CONSTRAINT [FK_Tbl_Transaction_Customer_Id]
GO
ALTER TABLE [dbo].[Tbl_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transaction_Salesman_Id] FOREIGN KEY([Salesman_Id])
REFERENCES [dbo].[Tbl_Salesman] ([Salesman_Id])
GO
ALTER TABLE [dbo].[Tbl_Transaction] CHECK CONSTRAINT [FK_Tbl_Transaction_Salesman_Id]
GO
ALTER TABLE [dbo].[Tbl_Transaction]  WITH CHECK ADD  CONSTRAINT [FK4] FOREIGN KEY([Area_Id])
REFERENCES [dbo].[Tbl_Areas] ([Area_Id])
GO
ALTER TABLE [dbo].[Tbl_Transaction] CHECK CONSTRAINT [FK4]
GO
USE [master]
GO
